.rocketSection {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
}

.rocketInfo {
  display: flex;
  width: 100%;
  row-gap: 20px;
  column-gap: 10px;
  margin-bottom: 20px;
}

.rocketImage {
  width: 30%;
}

.rocketSecInfo {
  width: 70%;
}

.rocketTitle {
  margin-top: 5px;
  font-size: 1.2rem;
  font-weight: 600;
}

.bookRocket {
  padding: 15px 20px;
  background-color: #0290ff;
  color: white;
  font-weight: 600;
  border: 0px;
  border-radius: 5px;
  box-shadow: 1.5px 1.5px 6px #021c30;
  margin: 0;
} 